<main class="container">
 
  <section>
    <h1>All Users</h1>
    <a [routerLink]="['/adduser']" class="button add">Add User</a>
  </section>
  
  <section>
    <table>
      <thead>
        <th scope="col">User ID</th>
        <th scope="col">Name</th>
        <th scope="col">Assigned Task</th>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td data-label="User ID">{{ user._id }}</td>
          <td data-label="Name">{{ user.name }}</td>
          <td data-label="Assigned Task">{{ user.jobs | newlineFilter }}</td>
        </tr>
      </tbody>
    </table>
  </section>
 
</main>