/*
  ========================================
  Header
  ========================================
*/

header {
  background-color: #3A4052;
  height: 60px;
  color: #FFF;
}

.logo, nav {
  display: inline-block;
  position: relative;
}

.logo {
  width: 405px;
  height: 100%;
  background-color: #00B0FF;
  text-align: center;
}

.logo h1, nav {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

nav a {
  color: #fff;
  text-decoration: none;
  padding-left: 15px;
  font-size: .9em;
}

nav span {
  color: #8992CA;
  text-transform: uppercase;
  padding-left: 30px;
  font-size: .8em;
}

/*
  ========================================
  Responsive
  ========================================
*/

@media screen and (max-width: 920px) {

}