header {
  background: #3A4052;
  height: 60px;
  color: #FFF;
}

.logo, nav {
  display: inline-block;
  position: relative;
}

.logo {
  width: 20%;
  height: 100%;
  background-color: #00B0FF;
  text-align: center;
}

.logo h1 {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.5em;
  font-weight: 100;
  font-style: italic;
}

nav a {
  color: #FFF;
  text-decoration: none;
}