<main class="container">
  <h1>All Task</h1>
  <table>
    <thead>
      <th scope="col">Task ID</th>
      <th scope="col">Description</th>
      <th scope="col">Summary</th>
      <th scope="col">Status</th>
      <th scope="col">Assigned Users</th>
      <th scope="col">Start Date</th>
      <th scope="col">End Date</th>
    </thead>
    <tbody>
      <tr *ngFor="let task of tasks">
        <td data-label="Task ID">{{ task._id }}</td>
        <td data-label="Description">{{ task.description }}</td>
        <td data-label="Summary">{{ task.summary }}</td>
        <td data-label="Status">{{ task.status }}</td>
        <td data-label="Assigned Users">{{ task.users }}</td>
        <td data-label="Start Date">{{ task.start_date }}</td>
        <td data-label="End Date">{{ task.end_date }}</td>
      </tr>
    </tbody>
  </table>
</main>